<li>
  <form name="new_job" action="/jobs" method="post" accept-charset="utf-8">
    <input type="text" name="job[job_title]" placeholder="Job title"> at
    <input type="text" name="job[company_name]" placeholder="Company name">
    <br>

    <label for="job[job_description]">Job Description</label><br>
    <textarea name="job[job_description]">Your life story goes here. Keep it concise.</textarea>
    <br>

    <input type="submit" value="Add job">
  </form>
</li>
