<form name="new_school" action="/schools" method="post" accept-charset="utf-8">
  <input type="text" name="school[name]" placeholder="School Name">
  <input type="text" name="school[grad_year]" placeholder="Grad Year">
  <br>

  <label for="school[studies]">Area(s) of Study</label><br>
  <textarea name="school[studies]" placeholder="Major/Minor"></textarea>
  <br>

  <input type="submit" value="Add school">
</form>
