<form name="delete_skill" action="/skills/<%= skill.id %>" method="post" accept-charset="utf-8" class="float_right">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>
<%= skill.name %>
