<li>
  <form name="new_skill" action="/skills" method="post" accept-charset="utf-8" class="mini">
    <input type="text" name="skill[name]" placeholder="add a skill">

    <input type="submit" value="Save">
  </form>
</li>
