<% skill = skill_edit %>
<li>
  <form name="edit_skill" action="/skills/<%= skill.id %>" method="post" accept-charset="utf-8" class="mini">
    <input type="hidden" name="_method" value="put">

    <input type="text" name="skill[name]" value="<%= skill.name %>">

    <input type="submit" value="Save">
  </form>
</li>
