<!DOCTYPE html>
<head>
  <title>LinkedOut</title>

  <!-- Use normalize.css for cross-browser consistency
       http://necolas.github.io/normalize.css/ -->
  <link rel="stylesheet" href="/normalize.css">

  <!-- Load main stylesheet -->
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  <header>
    <h1>LinkedOut</h1>
    <small>Résumés for you. Just you.</small>
  </header>

  <%= yield %>

</body>
<html>
