<!DOCTYPE html>
<head>
  <title>LinkedOut</title>

  <!-- Use normalize.css for cross-browser consistency
       http://necolas.github.io/normalize.css/ -->
  <link rel="stylesheet" href="/css/normalize.css">

  <!-- Load main stylesheet -->
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <header>
    <h1>LinkedOut</h1>
    <small>Résumés for you. Just you.</small>
  </header>

  <%= yield %>

  <!-- Load jQuery version 1.11.1 (uncompressed) -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.js"></script>

  <!-- Load own scripts -->
  <script type="text/javascript" src="/js/jobs.js"></script>
  <script type="text/javascript" src="/js/skills.js"></script>
  <script type="text/javascript" src="/js/schools.js"></script>
</body>
<html>
