<div class="page">
  <nav>
    <a href="/" title="View resume">View</a>
    <h3>Edit My Résumé</h3>
  </nav>

  <%= partial :'partials/profile_form', :locals => { :user => default_user } %>

  <div class="row">
    <section class="jobs two_thirds">
      <h2>Jobs</h2>
      <ul class="no_bullets no_padding">
        <%= partial :'partials/job_form', collection: @jobs %>
      </ul>
    </section>

    <section class="skills one_third">
      <h2>Skills</h2>
      <ul class="no_bullets no_padding">
        <%= partial :'partials/skill_edit', collection: @skills %>
      </ul>
    </section>
  </div>
</div>
