<div class="page">
  <nav>
    <a href="/resumes/edit" title="Edit resume">Edit</a>
    <h3>My Résumé</h3>
  </nav>

  <%= partial :'partials/profile', :locals => { :user => default_user } %>

  <div class="row">
    <section class="jobs two_thirds">
      <h2>Jobs</h2>
      <ul class="no_bullets no_padding">
        <%= partial :'partials/job', collection: @jobs %>
      </ul>
    </section>

    <section class="skills one_third">
      <h2>Skills</h2>
      <ul class="no_bullets no_padding">
        <%= partial :'partials/skill', collection: @skills %>
      </ul>
    </section>
  </div>
</div>
